body {
  font-family: 'Cabin', sans-serif;
  margin: 50px;
}

#wizard {
  top: 20px;
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
}

#wzd-content {
  font-size: 20px;
}

.btn-wzd {
  font-size: 2em;
  color: #000;
}